<top data-title-object="titleObject" data-title="(title)?title:model+'.plural'"></top>

<list data-items="items" data-get-actions="actions" data-list-status="status" data-fields="fields"></list>

<footer class="col" data-ng-show="!footer">
    <a   data-ng-click="goToSave()" class="hide-on-popup new-item button">{{'list.newItem' | translate}}</a>

    <a   data-ng-click="acceptSelected()"   class="show-on-popup button">{{'accept' | translate}}</a>
    <paginator  data-pagination="pagination"   data-goto="goTo"  data-offset="2"></paginator>


    <a data-ng-click="deleteSelected()"  data-ng-if="getSelectedItems().length" class="hide-on-popup batch-delete button" >
        <i class="fas fa-trash-alt"></i>

    </a>


</footer>

<footer class="col" data-ng-if="footer" data-ng-include="footer"></footer>