<form data-ng-submit="login()">

    <top data-title="'login.title'"></top>

    <field data-label="username"   data-validation-errors="$parent.validationErrors['username']"  data-model="$parent.user.username"></field>

    <field data-label="password" data-type="password"  data-validation-errors="$parent.validationErrors['password']"  data-model="$parent.user.password"></field>

    <field data-type="submit" data-label="login"></field>

    <div class="login-error fade-static" data-ng-if="errorMsg && errorMsg != ''">
        <p>{{errorMsg | translate}}</p>
    </div>
</form>
