<top data-title='"welcome" | translate:currentUser'></top>


<div class="today-assignments"  >

    <div class="assignments-wrapper" data-ng-controller="assignment-list-controller">

        <top class="assignments-list-top" data-title="'assignment.list'"></top>
        <assignment-list  data-items="items"></assignment-list>
        <paginator  data-pagination="pagination"   data-goto="goTo"  data-offset="2"></paginator>

    </div>

    <!--
    <div data-ng-controller="list-controller">
        <top class="assignments-list-top" data-title="'assignment.list'"></top>
        <assignment-list  data-items="items"></assignment-list>
        <paginator  data-pagination="pagination"   data-goto="goTo"  data-offset="2"></paginator>

    </div>-->

</div>



<!--
<assignation-list  data-items=""></assignation-list>-->