doctype html
html
    head


    body(style="padding:0;margin:0;width:100%;")

        table(style="border-spacing: 0;")
            tr
               td(style="background-color:#0D47A1;margin: 10px;color:white;padding:15px;font-family: arial;font-size:20px") #{__('hello')}, #{package.client.name}

            tr
               td
                p(style="background: #EEEEEE;margin:0px;padding: 15px;font-size: 18px;font-family: arial;line-height: 25px;") !{__('shippingNoticeMessage')}


