<div class="loading" data-ng-if="listStatus == 'loading'">

    <div class="svg">
        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
        <svg width="120" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#fff">
            <circle cx="15" cy="15" r="15">
                <animate attributeName="r" from="15" to="15"
                         begin="0s" dur="0.8s"
                         values="15;9;15" calcMode="linear"
                         repeatCount="indefinite" />
                <animate attributeName="fill-opacity" from="1" to="1"
                         begin="0s" dur="0.8s"
                         values="1;.5;1" calcMode="linear"
                         repeatCount="indefinite" />
            </circle>
            <circle cx="60" cy="15" r="9" fill-opacity="0.3">
                <animate attributeName="r" from="9" to="9"
                         begin="0s" dur="0.8s"
                         values="9;15;9" calcMode="linear"
                         repeatCount="indefinite" />
                <animate attributeName="fill-opacity" from="0.5" to="0.5"
                         begin="0s" dur="0.8s"
                         values=".5;1;.5" calcMode="linear"
                         repeatCount="indefinite" />
            </circle>
            <circle cx="105" cy="15" r="15">
                <animate attributeName="r" from="15" to="15"
                         begin="0s" dur="0.8s"
                         values="15;9;15" calcMode="linear"
                         repeatCount="indefinite" />
                <animate attributeName="fill-opacity" from="1" to="1"
                         begin="0s" dur="0.8s"
                         values="1;.5;1" calcMode="linear"
                         repeatCount="indefinite" />
            </circle>
        </svg>

    </div>
    <!--
    <p>{{ 'list.loading' | translate }}</p>-->

</div>

<table data-ng-init="selectedItems=[]" class="list" data-ng-if="listStatus == 'loaded' && (items && items.length > 0)">
    <thead>
    <tr>
        <th data-ng-repeat="f in fields">
            <span data-ng-if="!f.field">{{ f | translate}}</span>
            <span data-ng-if="f.field && !f.label">{{f.field | translate}}</span>
            <span data-ng-if="f.label">{{f.label | translate}}</span>



        </th>

        <th class="actions-header"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="i in items" data-ng-class="{active:i.selected}">
        <td data-title="{{( f.label || f.field || f) | translate}}" data-ng-repeat="f in fields" data-ng-class="{'is-file':f.file}">

            <file-preview data-ng-if="f.file"  data-file='i'></file-preview>

            <span class="table-data" data-ng-if="!f.render">{{i[f]}}</span>
            <!---
            -->
            <span data-ng-if="f.render" class="table-data" data-ng-bind-html="f.render(i)"></span>

        </td>
        <td class="actions-cell" data-ng-if="getActions(i)">

            <div class="actions-wrapper">
                <a class="button open-actions" data-ng-class="{opened:dropdown[i._id]}" data-ng-click="toggleDropdown(i)" >{{'actions' | translate}} <img class="dropdown-icon" src="/images/drop-down-arrow.svg"></a>
                <ul class="fade actions" data-ng-if="dropdown[i._id]">
                    <li  data-ng-class="a.class"  data-ng-repeat="a in getActions(i)" data-ng-click="a.action(i);dropdown[i._id]=false">{{a.text | translate}}</li>
                </ul>
            </div>

        </td>

    </tr>
    </tbody>
</table>
<div  class="list-empty" data-ng-if="listStatus == 'loaded' && (!items || items.length == 0)">
    {{'list.empty' | translate}}
</div>