<field data-validation-errors="validationErrors['name']" data-model="item.name" data-label="name"></field>

<field data-validation-errors="validationErrors['email']" data-model="item.email" data-label="email"></field>

<field data-validation-errors="validationErrors['phone']"  data-model="item.phone" data-label="phone"></field>

<!--
<associated-file-field data-label="images" data-gallery="'5ac779819a2e883719f9cba0'" data-ref='image' data-model="item.images">
    <field data-label="text" data-model="$parent.item.text"></field>
</associated-file-field>

<associated-file-field data-label="documents" data-gallery="'5ac7c8083e9a30521882bb84'" data-ref='document' data-model="item.documents">
    <field data-label="text" data-model="$parent.item.text"></field>
</associated-file-field>-->

<field   data-label="submit" data-type="submit">

</field>

