<field data-model="item.title" data-label="title"></field>

<!--
<associated-file-field data-gallery="'5ab1bb822456de0cd8830ac3'" data-ref='image' data-model="item.images"></associated-file-field>
-->
<associated-file-field data-gallery="'5ac779819a2e883719f9cba0'" data-ref='image' data-model="item.images">
    <field data-label="text" data-model="$parent.item.text"></field>
</associated-file-field>




<field   data-label="submit" data-type="submit"></field>

<!--
<field data-label="text" data-model="item.text"></field>-->